<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      dir="{{ request.tmpl_context.language_direction }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    </head>

    <body>

        {% block body %}

            <div class="header">
            {% block header %}
                {% if request.authenticated_userid %}
                <a href="{{ request.route_url('user-logout') }}">{{ _('Sign Out') }}</a>
                {% else %}
                <a href="{{ request.route_url('user-login') }}">{{ _('Sign In') }}</a>
                {% endif %}
            {% endblock %}
            </div>

            <div class="content">{% block content %}{% endblock %}</div>

            <div class="footer">
            {% block footer %}
            <!--
                <a href="{{ request.route_url('user-login') }}">{{ _('About') }}</a> |
                <a href="{{ request.route_url('user-login') }}">{{ _('Contact') }}</a> |
                <a href="{{ request.route_url('user-login') }}">{{ _('Terms') }}</a>
            -->
            {% endblock %}
            </div>

        {% endblock %}

    </body>
</html>
