{% extends "base.jinja2" %}
{% import "form_utils.jinja2" as form_utils %}

{% block title %}{{ _('Sign In') }} | {{ _('Universal Core') }}{% endblock %}

{% block content %}
<div id="login-container">

    {% if form %}
    <form id="login-form" method="post">
        {{ form_utils.errors(form.error) }}
        {{ form_utils.field(form.lt) }}
        {{ form_utils.field(form.username) }}
        {{ form_utils.field(form.password, label=_('4 Digit PIN')) }}
        <div class="buttons">
            <input name="submit" type="submit" value="{{ _('Sign In' ) }}" />
        </div>
    </form>
    <p>{{ _("Don't have an account?") }}</p>
    <a href="{{ request.route_path('user-join') }}">{{ _('Join') }}</a>

    {% elif user %}
    <p>
        {% trans username=user.username %}You are signed in as {{ username }}.{% endtrans %}
        {% trans logout_url=request.route_path('user-logout') %}Click <a href="{{ logout_url }}">here</a> to sign out.{% endtrans %}
    </p>
    {% endif %}

</div>
{% endblock %}
