{% extends "base.jinja2" %}

{% block title %}{{ _('Sign Out') }} | {{ _('Universal Core') }}{% endblock %}

{% block content %}
<div>
    <p>
        {% trans login_url=request.route_url('user-login') %}
        You have been signed out successfully. Click <a href="{{ login_url }}">here</a> to sign in.
        {% endtrans %}
    </p>
</div>
{% endblock %}
