{% extends "base.jinja2" %}

{% block title %}{{ _('Sign Out') }} | {{ _('Universal Core') }}{% endblock %}

{% block content %}
<div id="logout-container" class="box">

    <div>
        {{ _('You have been signed out successfully.') }}
        {% trans login_url=request.route_path('user-login', _query=request.query_string) %}Click <a href="{{ login_url }}">here</a> to sign in.{% endtrans %}
    </div>

</div>
{% endblock %}
